fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
pydantic-settings
pydantic
openai
requests
jinja2
python-multipart
twilio
PyYAML==6.0.1
openpyxl==3.1.2
pandas==2.1.4
google-api-python-client
google-auth
google-auth-oauthlib